<!-- <header class="z-10 flex fixed items-center w-full h-20 backdrop-blur-md dark:bg-neutral-800/80 bg-[#CBE4DE] p-5 top-0">
    <h1 class="bg-white shadow-lg rounded-full px-4 py-2 text-xl">
        A flask minecraft console
        {% if is_on %}
        <a class=" text-green-600">[ Online ]</a>
        {% else %}
        <a class=" text-red-900">[ Offline ]</a>
        {% endif %}
    </h1>
    <nav id="base" class="relative hidden lg:flex items-center ml-auto pr-20" style="font-family: Montserrat;">

        <div class="h-div">
            <a>Autoscroll:</a>
            <label class="switch">
                <input type="checkbox" id="scroll" checked="checked" onclick="switchScroll();">
                <span class="slider round"></span>
            </label>
        </div>
    </nav>
</header> -->